body {
    background-color: #e5e5e5;
}

.container {
    width: 390px;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-logo {
    position: relative;
}
.error-logo img {
    width: 158px;
    height: 158px;
}
.error-logo span {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-message {
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    line-height: 14px;
    margin-top: 32px;
}

.back-btn {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #f26e22;
    border-radius: 44px;
    padding: 13px 33px;
    margin-top: 20px;
}
