body {
    background-color: #e5e5e5;
}

#app {
    position: relative;
    width: 390px;
    margin: 0 auto;
}

.container {
    width: 390px;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 45px;
    font-weight: bold;
    color: #f26e22;
    text-align: center;
}
.logo img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}
