@import url(@styles/common.css);
@import url(@styles/headerNav.css);
@import url(@styles/footerNav.css);

.link-back img {
  width: 22px;
  height: 22px;
}

.product-menu-button img {
  width: 24px;
  height: 24px;
}

.hidden {
  display: none;
}

main {
  padding: 92px 34px 0;
}

#product-image {
  width: 100%;
  aspect-ratio: 4/3;
  background-color: #e5e5e5;
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.field {
  font-size: 14px;
  color: #767676;
  margin-bottom: 6px;
}

.value {
  height: 29px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #dbdbdb;
  padding: 6px 0;
  margin-bottom: 10px;
}
